out/
out/generated/
build-*/
CMakeLists.txt.user
*.class
.idea/
target/
tests/auto/petstore/client/build/
tests/auto/petstore/qmlclient/build/
tests/auto/petstore/qmlclient/.openapi-generator*
tests/auto/petstore/client/.openapi-generator*
tests/auto/petstore/server/build/
tests/auto/colorpalette/client/build/
tests/auto/colorpalette/client/.openapi-generator*
tests/auto/colorpalette/qmlclient/client/build/
tests/auto/colorpalette/qmlclient/build/
tests/auto/colorpalette/qmlclient/.openapi-generator*
tests/auto/colorpalette/client/client/doc/html/
tests/auto/colorpalette/client/client/doc/latex/
tests/auto/colorpalette/qmlclient/client/doc/html/
tests/auto/colorpalette/qmlclient/client/doc/latex/
tests/auto/petstore/client/client/doc/html/
tests/auto/petstore/client/client/doc/latex/
tests/auto/petstore/qmlclient/client/doc/html/
tests/auto/petstore/qmlclient/client/doc/latex/
tests/auto/petstore/server/external/*
tests/auto/petstore/server/gmon.out
openapi_client_generators/*

