out/
out/generated/
build-*/
CMakeLists.txt.user
*.class
.idea/
target/
tests/auto/*/client/build/
tests/auto/*/qmlclient/build/
tests/auto/*/client/.openapi-generator*
tests/auto/*/qmlclient/.openapi-generator*
tests/auto/*/server/build/
tests/auto/*/server/.openapi-generator*
tests/auto/*/server/Dockerfile
tests/auto/*/server/go/README.md
tests/auto/operation-parameters/server/server-app
tests/auto/openapi2.0/server/backport-server-app
tests/auto/colorpalette/qmlclient/client/build/
tests/auto/*/client/client/doc/html/
tests/auto/*/client/client/doc/latex/
tests/auto/*/qmlclient/client/doc/html/
tests/auto/*/qmlclient/client/doc/latex/
tests/auto/petstore/server/external/*
tests/auto/petstore/server/gmon.out
openapi_client_generators/*

