out/
out/generated/
build-*/
CMakeLists.txt.user
*.class
.idea/
target/
tests/auto/*/client/build/
tests/auto/*/qmlclient/build/
.openapi-generator*
tests/auto/*/server/build/
tests/auto/*/server/Dockerfile
tests/auto/*/server/api/*.yaml
tests/auto/*/server/go/README.md
tests/auto/operation-parameters/server/op-server-app
tests/auto/openapi2.0/server/backport-server-app
tests/auto/mediatype/server/mediatype-server-app
tests/auto/responses/server/responses-server-app
tests/auto/generator-additional-properties/server/generator-additional-properties-server-app
tests/auto/colorpalette/qmlclient/client/build/
tests/auto/*/client/client/doc/html/
tests/auto/*/client/client/doc/latex/
tests/auto/*/qmlclient/client/doc/html/
tests/auto/*/qmlclient/client/doc/latex/
tests/auto/petstore/server/petstore-server-app
src/tools/qtopenapi-generator/openapi_client_generators/*

