{{>licenseInfo}}
#include "{{classname}}.h"
#include "{{prefix}}ServerConfiguration.h"

#include <QtCore/qanystringview.h>
#include <QtCore/qjsonarray.h>
#include <QtCore/qjsondocument.h>
#include <QtNetwork/qhttpmultipart.h>
#include <QtNetwork/qnetworkaccessmanager.h>
#include <QtNetwork/qnetworkreply.h>
#include <QtNetwork/qnetworkrequestfactory.h>
#include <QtNetwork/qrestaccessmanager.h>

using namespace Qt::StringLiterals;

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

{{classname}}::{{classname}}(QObject *parent)
    : {{prefix}}BaseApi(parent)
{
    initializeServerConfigs();
}

{{classname}}::~{{classname}}()
{
}

void {{classname}}::initializeServerConfigs()
{
    //Default server
    QList<{{prefix}}ServerConfiguration> defaultConf = QList<{{prefix}}ServerConfiguration>();
    //varying endpoint server
{{#vendorExtensions.x-cpp-global-server-list}}
    defaultConf.append({{prefix}}ServerConfiguration(
    QUrl("{{{url}}}"),
    "{{{description}}}{{^description}}No description provided{{/description}}",
    {{#variables}}{{#-first}}QMap<QString, {{prefix}}ServerVariable>{ {{/-first}}
    {"{{{name}}}", {{prefix}}ServerVariable("{{{description}}}{{^description}}No description provided{{/description}}","{{{defaultValue}}}",
    QSet<QString>{ {{#enumValues}}{"{{{.}}}"}{{#-last}} })},{{/-last}}{{^-last}},{{/-last}}{{/enumValues}}{{^enumValues}}{"{{defaultValue}}"} })},{{/enumValues}}{{#-last}} }));{{/-last}}
    {{/variables}}{{^variables}}QMap<QString, {{prefix}}ServerVariable>()));{{/variables}}
{{/vendorExtensions.x-cpp-global-server-list}}
{{#operations}}
   {{#operation}}
   {{^servers}}
    m_serverConfigs.insert("{{nickname}}", defaultConf);
    m_serverIndices.insert("{{nickname}}", 0);
    {{/servers}}
    {{#servers}}
    {
        QList<{{prefix}}ServerConfiguration> serverConf = QList<{{prefix}}ServerConfiguration>();
        serverConf.append({{prefix}}ServerConfiguration(
        QUrl("{{{url}}}"),
        "{{{description}}}{{^description}}No description provided{{/description}}",
        {{#variables}}{{#-first}}QMap<QString, {{prefix}}ServerVariable>{ {{/-first}}
        {"{{{name}}}", {{prefix}}ServerVariable("{{{description}}}{{^description}}No description provided{{/description}}","{{{defaultValue}}}",
        QSet<QString>{ {{#enumValues}}{"{{{.}}}"}{{#-last}} })}, {{/-last}}{{^-last}},{{/-last}}{{/enumValues}}{{^enumValues}}{"{{defaultValue}}"} })},{{/enumValues}}{{#-last}} }));{{/-last}}
        {{/variables}}{{^variables}}QMap<QString, {{prefix}}ServerVariable>()));{{/variables}}
        {{#-last}}m_serverConfigs.insert("{{nickname}}", serverConf);
        m_serverIndices.insert("{{nickname}}", 0);{{/-last}}
    }
{{/servers}}
{{/operation}}
{{/operations}}
}

{{#operations}}
{{#operation}}
/**
* \fn {{#makeOperationsVirtual}}virtual {{/makeOperationsVirtual}}void {{classname}}::{{nickname}}({{#hasParams}}{{#allParams}}const {{#required}}{{{dataType}}} &{{/required}}{{^required}}::{{cppNamespace}}::OptionalParam<{{{dataType}}}> &{{/required}}{{paramName}}{{^required}} = ::{{cppNamespace}}::OptionalParam<{{{dataType}}}>(){{/required}}{{^-last}}, {{/-last}}{{/allParams}}{{/hasParams}})
* {{#isDeprecated}}\deprecated {{/isDeprecated}}'{{nickname}}' operation sends the request to a server.
* The request parameters are defined by a specification file.
{{#hasParams}}{{#allParams}}{{#required}}
* @param[in] {{paramName}} {{{dataType}}} [required]{{/required}}{{^required}}
* @param[in] {{paramName}} {{{dataType}}} [optional]{{/required}}{{/allParams}}{{/hasParams}}
*/

/**
* \fn template < Functor, > void {{classname}}::{{nickname}}({{#allParams}}const {{#required}}{{{dataType}}} &{{/required}}{{^required}}::{{cppNamespace}}::OptionalParam<{{{dataType}}}> &{{/required}}{{paramName}}{{^required}} = ::{{cppNamespace}}::OptionalParam<{{{dataType}}}>(){{/required}}, {{/allParams}}const ContextTypeForFunctor< Functor > *context = nullptr, Functor &&callback = (){})
* {{#isDeprecated}}\deprecated {{/isDeprecated}}'{{nickname}}' operation sends the request to a server.
* The request parameters are defined by a specification file.
*
* \attention Use the operation with following parameters in the callback:
* \code {c++}
*    {{nickname}}({{#hasParams}}{{#allParams}}{{paramName}}, {{/allParams}}{{/hasParams}}this, [&](const QRestReply &reply{{#returnType}}, const {{{.}}} &summary{{/returnType}}) { if (reply.isSuccess()) ... });
* \endcode
* \note The template function can not be virtual in C++17.
* If you want to use 'makeOperationsVirtual' option for mocking API,
* please override virtual {{nickname}}WithDataImpl() in derived class.
* The virtual {{nickname}}WithDataImpl() is being called by the template
* function.
{{#hasParams}}{{#allParams}}{{#required}}
* @param[in] {{paramName}} {{{dataType}}} [required]{{/required}}{{^required}}
* @param[in] {{paramName}} {{{dataType}}} [optional]{{/required}}{{/allParams}}{{/hasParams}}
* @param[in] context const ContextTypeForFunctor< Functor > * [optional]
* @param[in] callback Functor && [optional]
*/

/**
* \fn void {{classname}}::{{nickname}}Callback(const QRestReply &reply)
* Processes a \a reply response from a server.
* The result of processed data is emitted by {{nickname}}Finished() or
* being returned as a callback parameter of {{nickname}}() request.
* @param[in] reply const QRestReply &
*/

/**
* \fn {{#makeOperationsVirtual}}virtual {{/makeOperationsVirtual}}void {{classname}}::{{nickname}}WithDataImpl({{#allParams}}const {{#required}}{{{dataType}}} &{{/required}}{{^required}}::{{cppNamespace}}::OptionalParam<{{{dataType}}}> &{{/required}}{{paramName}}, {{/allParams}}const QObject *context, QtPrivate::QSlotObjectBase *slot)
* Implements the {{nickname}}() operation request.
* \note If 'makeOperationsVirtual' option is true, this function is declared as virtual
* and can be overloaded for mocking {{nickname}}() operation calls.
{{#hasParams}}{{#allParams}}{{#required}}
* @param[in] {{paramName}} {{{dataType}}} [required]{{/required}}{{^required}}
* @param[in] {{paramName}} {{{dataType}}} [optional]{{/required}}{{/allParams}}{{/hasParams}}
* @param[in] context const QObject * [optional]
* @param[in] slot QtPrivate::QSlotObjectBase * [optional]
*/
void {{classname}}::{{nickname}}WithDataImpl({{#allParams}}const {{#required}}{{{dataType}}} &{{/required}}{{^required}}::{{cppNamespace}}::OptionalParam<{{{dataType}}}> &{{/required}}{{paramName}}, {{/allParams}}const QObject *context, QtPrivate::QSlotObjectBase *slot)
{
    const QUrl serverUrl = m_serverConfigs["{{nickname}}"][m_serverIndices.value("{{nickname}}")].serverUrl();
    QString fullPath = "{{{path}}}";
    m_networkFactory->setBaseUrl(serverUrl);{{#authMethods}}{{#isApiKey}}{{#isKeyInHeader}}
    if (m_apiKeys.contains("{{name}}"_L1)) {
        setHeader("{{name}}"_L1, QAnyStringView(m_apiKeys.find("{{name}}"_L1).value()));
    }
    {{/isKeyInHeader}}{{#isKeyInQuery}}
    if (m_apiKeys.contains("{{name}}")) {
        if (fullPath.indexOf("?") > 0)
            fullPath.append("&");
        else
            fullPath.append("?");
        fullPath.append("{{{name}}}=").append(m_apiKeys.find("{{name}}").value());
    }
    {{/isKeyInQuery}}{{/isApiKey}}{{#isBasicBearer}}
    if (!m_bearerToken.isEmpty())
        setHeader(QHttpHeaders::WellKnownHeader::Authorization, QAnyStringView("Bearer "_L1 + m_bearerToken));
    {{/isBasicBearer}}{{#isBasicBasic}}
    if (!m_username.isEmpty() && !m_password.isEmpty()) {
        QByteArray b64;
        b64.append(m_username.toUtf8() + ":" + m_password.toUtf8());
        setHeader(QHttpHeaders::WellKnownHeader::Authorization, QAnyStringView("Basic "_L1 + b64.toBase64()));
    }{{/isBasicBasic}}{{/authMethods}}
{{#pathParams}}
    {
        QString {{paramName}}PathParam = QString("{%1}").arg("{{baseName}}");
        QString pathStyle = "{{style}}";
        if (pathStyle.isEmpty())
            pathStyle = "simple";
        const QString pathPrefix = getParamStylePrefix(pathStyle);
        const QString pathDelimiter = getParamStyleDelimiter(pathStyle, {{isExplode}});
{{^isAnyType}}
        [[maybe_unused]] const QString assignOperator = getParamStyleAssignOperator(pathStyle, {{isExplode}}, (!{{isPrimitiveType}} && !{{isArray}}));
        const QString pathSuffix = getParamStyleSuffix(pathStyle, u"{{baseName}}"_s, {{isExplode}}, (!{{isPrimitiveType}} && !{{isArray}}));
        QString paramString = pathPrefix + pathSuffix;
{{/isAnyType}}
{{#isAnyType}}
        const QString assignOperator = getParamStyleAssignOperator(pathStyle, {{isExplode}}, {{paramName}}.type() == QJsonValue::Object);
        const QString pathSuffix = getParamStyleSuffix(pathStyle, u"{{baseName}}"_s, {{isExplode}}, {{paramName}}.type() == QJsonValue::Object);
        QString paramString = pathPrefix + serializeJsonValue({{paramName}}, pathStyle, {{isExplode}}, pathSuffix, assignOperator, pathDelimiter);
{{/isAnyType}}
{{#isModel}}
        paramString = pathPrefix + serializeJsonValue(QJsonValue({{paramName}}.asJsonObject()), pathStyle, {{isExplode}}, pathSuffix, assignOperator, pathDelimiter);
{{/isModel}}
{{#isMap}}
        paramString.append(::{{cppNamespace}}::toStringValue({{paramName}}, assignOperator, pathDelimiter));
{{/isMap}}
{{#isPrimitiveType}}
        paramString += QUrl::toPercentEncoding(::{{cppNamespace}}::toStringValue({{paramName}}));
{{/isPrimitiveType}}
{{#isArray}}
        paramString = pathPrefix + serializeArrayValue({{paramName}}, pathStyle, {{isExplode}}, pathSuffix, pathDelimiter);
{{/isArray}}
        // In case style=matrix and paramString is empty due to any reasons,
        // we serialize it like undefined value and delete '='.
        // Described here: https://spec.openapis.org/oas/v3.1.1.html#style-values
        if ((paramString == pathPrefix + pathSuffix) && QString("{{style}}") == "matrix"_L1)
            paramString.chop(1);
        fullPath.replace({{paramName}}PathParam, paramString);
    }
{{/pathParams}}
{{#hasQueryParams}}
    int queryParamCounter = 0;{{/hasQueryParams}}
{{#queryParams}}
    {
        [[maybe_unused]] QString paramString;
        QString queryStyle = "{{style}}";
        if (queryStyle.isEmpty())
            queryStyle = "form";
        const QString queryPrefix = getParamStylePrefix(queryStyle);
        [[maybe_unused]] const QString queryDelimiter = getParamStyleDelimiter(queryStyle, {{isExplode}});
{{^isAnyType}}
        const QString querySuffix = getParamStyleSuffix(queryStyle, u"{{baseName}}"_s, {{isExplode}}, (!{{isPrimitiveType}} && !{{isArray}}));
        [[maybe_unused]] const QString queryAssignOperator = getParamStyleAssignOperator(queryStyle, {{isExplode}}, (!{{isPrimitiveType}} && !{{isArray}}));
{{^isArray}}
        paramString = querySuffix;
{{/isArray}}
{{/isAnyType}}
{{#isAnyType}}
        const QString querySuffix = getParamStyleSuffix(queryStyle, u"{{baseName}}"_s, {{isExplode}}, {{paramName}}{{^required}}.value(){{/required}}.type() == QJsonValue::Object);
        const QString queryAssignOperator = getParamStyleAssignOperator(queryStyle, {{isExplode}}, {{paramName}}{{^required}}.value(){{/required}}.type() == QJsonValue::Object);
{{/isAnyType}}
        if ((fullPath.indexOf("?") != fullPath.size() - 1) && (queryParamCounter == 0))
            fullPath.append(queryPrefix);
        {{^required}}if ({{paramName}}.hasValue()) {{/required}}{
            if (queryParamCounter > 0)
                fullPath.append("&");
{{#isAnyType}}
            paramString = serializeJsonValue({{paramName}}{{^required}}.value(){{/required}}, queryStyle, {{isExplode}}, querySuffix, queryAssignOperator, queryDelimiter);
            fullPath.append(paramString);
{{/isAnyType}}
{{#isModel}}
            const QJsonObject parameter = {{paramName}}{{^required}}.value(){{/required}}.asJsonObject();
            if (queryStyle == "deepObject") {
                qint32 index = 0;
                if (parameter.isEmpty())
                    qWarning() << "Serialized QJsonValue::Object is empty!";
                for (const QString& key : parameter.keys()) {
                    if (index > 0)
                        paramString.append(queryDelimiter);
                    paramString.append(::{{cppNamespace}}::optionParameterToString(QString("{{baseName}}") + QString("[") + key + QString("]"), queryAssignOperator, parameter.value(key)));
                    index++;
                }
            } else {
                paramString = serializeJsonValue(QJsonValue(parameter), queryStyle, {{isExplode}}, querySuffix, queryAssignOperator, queryDelimiter);
            }
            // style=form && explode=true && non-object => '{{baseName}}' isn't used in serialization
            // style=form && explode=true && empty object => need to be '{{baseName}}='
            // see https://spec.openapis.org/oas/v3.1.1.html#style-values
            if (paramString.isEmpty() && queryStyle == "form")
                paramString = u"{{baseName}}="_s;
            fullPath.append(paramString);
{{/isModel}}
{{#isMap}}
            paramString.append(::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}}, queryAssignOperator, queryDelimiter));
            fullPath.append(paramString);
{{/isMap}}
{{#isPrimitiveType}}
            fullPath.append(querySuffix + QUrl::toPercentEncoding(::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}})));
{{/isPrimitiveType}}
{{#isArray}}
            fullPath.append(serializeArrayValue({{paramName}}{{^required}}.value(){{/required}}, queryStyle, {{isExplode}}, querySuffix, queryDelimiter));
{{/isArray}}
            queryParamCounter++;
        }{{^required}}{{#isNullable}} else if ({{paramName}}.isNull()) {
            if (queryParamCounter > 0)
                fullPath.append("&");
            // style=form && explode=true && non-object => '{{baseName}}' isn't used in serialization
            // style=form && explode=true && empty object => need to be '{{baseName}}='
            // see https://spec.openapis.org/oas/v3.1.1.html#style-values
            if (queryStyle == "form")
                fullPath.append(u"{{baseName}}="_s);
            else
                fullPath.append(querySuffix);
            queryParamCounter++;
        }{{/isNullable}}{{/required}}
    }
{{/queryParams}}
    // set m_testOperationPath for serialization tests
    m_testOperationPath = fullPath;
    {{prefix}}HttpRequestInput input(fullPath, "{{httpMethod}}");
{{#hasFormParams}}
{{#consumes}}
{{#-first}}
    input.m_headers.replaceOrAppend(QHttpHeaders::WellKnownHeader::ContentType, "{{{mediaType}}}"_L1);
{{/-first}}
{{/consumes}}
{{#isMultipart}}
    input.addVarLayout(MULTIPART);
{{/isMultipart}}
{{^isMultipart}}
    input.addVarLayout(URL_ENCODED);
{{/isMultipart}}
{{/hasFormParams}}
{{#formParams}}
    {{^required}}if ({{paramName}}.hasValue()) {{/required}}{
        QString contentType;
{{#consumes}}
{{#contentType}}
        contentType = u"{{contentType}}"_s;
{{/contentType}}
{{/consumes}}
{{#isFile}}
        input.addFile("{{baseName}}", {{paramName}}{{^required}}.value(){{/required}}.m_localFilename, {{paramName}}{{^required}}.value(){{/required}}.m_requestFilename, contentType);
{{/isFile}}
{{^isFile}}
{{#isContainer}}
        // if contentType is explicitly specified as json,
        // or if it is not specified and the elements of the
        // array are non-primitive, also serialize as a json-object
{{#isArray}}
        using VT = std::decay_t<decltype({{paramName}}{{^required}}.value(){{/required}})>::value_type;
        if (contentType == "application/json"_L1
            || (contentType.isEmpty() && !isPrimitiveMediaType<VT>)) {
            input.addFieldHeaders(u"{{baseName}}"_s, "application/json"_L1);
            input.addVar(u"{{baseName}}"_s, ::{{cppNamespace}}::convertJsonValueToString(::{{cppNamespace}}::toJsonValue({{paramName}}{{^required}}.value(){{/required}})));
        } else {
            // if none of the above - serialize according to the content type of items
            for (const auto &item : {{paramName}}{{^required}}.value(){{/required}}) {
                input.addVar(u"{{baseName}}"_s, ::{{cppNamespace}}::serializeMediaTypeContentField(contentType, item));
            }
            input.addFieldHeaders(u"{{baseName}}"_s, "text/plain"_L1);
        }
{{/isArray}}
{{#isMap}}
        using MapType = std::decay_t<decltype({{paramName}}{{^required}}.value(){{/required}})>;
        using VT = typename MapType::mapped_type;
        if (contentType == "application/json"_L1
            || (contentType.isEmpty() && !isPrimitiveMediaType<VT>)) {
            input.addFieldHeaders(u"{{baseName}}"_s, "application/json"_L1);
            input.addVar(u"{{baseName}}"_s, ::{{cppNamespace}}::convertJsonValueToString(::{{cppNamespace}}::toJsonValue({{paramName}}{{^required}}.value(){{/required}})));
        } else {
            // if none of the above - serialize according to the content type of items
            for (const auto &[key, value] : {{paramName}}{{^required}}.value(){{/required}}.asKeyValueRange()) {
                input.addVar(key, ::{{cppNamespace}}::serializeMediaTypeContentField(contentType, value));
            }
            input.addFieldHeaders(u"{{baseName}}"_s, "text/plain"_L1);
        }
{{/isMap}}
{{/isContainer}}
{{^isContainer}}
        using VT = std::decay_t<decltype({{paramName}}{{^required}}.value(){{/required}})>;
        input.addFieldHeaders(u"{{baseName}}"_s, addContentField<VT>(contentType));
        input.addVar(u"{{baseName}}"_s, ::{{cppNamespace}}::serializeMediaTypeContentField(contentType, {{paramName}}{{^required}}.value(){{/required}}));
{{/isContainer}}
{{/isFile}}
    }
{{/formParams}}
{{#bodyParams}}
    {{^required}}if ({{paramName}}.hasValue()) {{/required}}{
{{#consumes}}
{{#-first}}
        input.m_headers.replaceOrAppend(QHttpHeaders::WellKnownHeader::ContentType, "{{{mediaType}}}"_L1);
{{/-first}}
{{/consumes}}
{{#isContainer}}
{{#isArray}}
        QJsonDocument doc(::{{cppNamespace}}::toJsonValue({{paramName}}{{^required}}.value(){{/required}}).toArray());
{{/isArray}}
{{#isMap}}
        QJsonDocument doc(::{{cppNamespace}}::toJsonValue({{paramName}}{{^required}}.value(){{/required}}).toObject());
{{/isMap}}
        QByteArray bytes = doc.toJson(QJsonDocument::Compact);
        input.m_requestBody.append(bytes);
{{/isContainer}}
{{^isContainer}}
{{#isString}}
        QByteArray output = {{paramName}}{{^required}}.value(){{/required}}.toUtf8();
{{/isString}}
{{#isByteArray}}
        QByteArray output({{paramName}}{{^required}}.value(){{/required}});
{{/isByteArray}}
{{#isNumeric}}
        QByteArray output = QByteArray::number({{paramName}}{{^required}}.value(){{/required}});
{{/isNumeric}}
{{#isBoolean}}
        QByteArray output = ::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}}).toUtf8();
{{/isBoolean}}
{{#isModel}}
        QByteArray output = {{paramName}}{{^required}}.value(){{/required}}.asJson().toUtf8();
{{/isModel}}
{{#isFile}}
        QByteArray output = {{paramName}}{{^required}}.value(){{/required}}.asByteArray();
{{/isFile}}
        input.m_requestBody.append(output);
{{/isContainer}}
    }{{^required}}{{#isNullable}} else if ({{paramName}}.isNull()) {
        input.m_requestBody.append("null");
    }{{/isNullable}}{{/required}}
    {{/bodyParams}}
{{#headerParams}}
    {{^required}}if ({{paramName}}.hasValue()){{/required}} {
{{^collectionFormat}}
{{^isPrimitiveType}}
        QString headerString;
        const QJsonObject parameter = {{paramName}}{{^required}}.value(){{/required}}.asJsonObject();
        qint32 count = 0;
        const QString assignOperator = ({{isExplode}}) ? "=" : ",";
        for (const QString& key : parameter.keys()) {
            if (count > 0) {
                headerString.append(",");
            }
            headerString.append(::{{cppNamespace}}::parameterToString(key, assignOperator, parameter.value(key)));
            count++;
        }
        input.m_headers.replaceOrAppend("{{baseName}}"_L1, QAnyStringView(headerString));
{{/isPrimitiveType}}
{{#isPrimitiveType}}
        if (!::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}}).isEmpty()) {
            QAnyStringView paramValue = QAnyStringView(::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}}));
            input.m_headers.replaceOrAppend("{{baseName}}"_L1, paramValue);
        }
{{/isPrimitiveType}}{{/collectionFormat}}{{#collectionFormat}}
        QString headerString;
        if ({{{paramName}}}{{^required}}.value(){{/required}}.size() > 0) {
            qint32 count = 0;
            for ({{{baseType}}} t : {{paramName}}{{^required}}.value(){{/required}}) {
                if (count > 0) {
                    headerString.append(",");
                }
                headerString.append(::{{cppNamespace}}::toStringValue(t));
                count++;
            }
            input.m_headers.replaceOrAppend("{{baseName}}"_L1, QAnyStringView(headerString));
        }
{{/collectionFormat}}
    }
{{/headerParams}}
{{#cookieParams}}
    {{^required}}if ({{paramName}}.hasValue()){{/required}}
    {
        if (QString("{{style}}").indexOf("form") == 0) {
{{^collectionFormat}}
{{^isPrimitiveType}}
{{^isExplode}}
            QString cookieString = "{{baseName}}="_L1;
            const QJsonObject parameter = {{paramName}}{{^required}}.value(){{/required}}.asJsonObject();
            qint32 count = 0;
            for (const QString& key : parameter.keys()) {
                if (count > 0) {
                    cookieString.append(",");
                }
                cookieString.append(::{{cppNamespace}}::parameterToString(key, ",", parameter.value(key)));
                count++;
            }
            input.m_headers.replaceOrAppend(QHttpHeaders::WellKnownHeader::Cookie, QAnyStringView(cookieString));
{{/isExplode}}
{{/isPrimitiveType}}
{{#isPrimitiveType}}
            if (!::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}}).isEmpty())
                input.m_headers.replaceOrAppend(QHttpHeaders::WellKnownHeader::Cookie, QAnyStringView("{{baseName}}="_L1 + ::{{cppNamespace}}::toStringValue({{paramName}}{{^required}}.value(){{/required}})));
{{/isPrimitiveType}}
{{/collectionFormat}}
{{#collectionFormat}}
{{^isExplode}}
            QString cookieString = "{{baseName}}="_L1;
            if ({{{paramName}}}.size() > 0) {
            qint32 count = 0;
            for ({{{baseType}}} t : {{paramName}}{{^required}}.value(){{/required}}) {
                if (count > 0) {
                    cookieString.append(",");
                }
                cookieString.append(::{{cppNamespace}}::toStringValue(t));
                count++;
            }
            input.m_headers.replaceOrAppend(QHttpHeaders::WellKnownHeader::Cookie, QAnyStringView(cookieString));
            }
{{/isExplode}}{{/collectionFormat}}
        }
    }
{{/cookieParams}}
    QNetworkRequest request
        = {{prefix}}HttpRequestWorker::getNetworkRequest(input, m_requestContent, m_networkFactory,
                                                  m_isResponseCompressionEnabled, m_isRequestCompressionEnabled);
    QNetworkReply *reply = execute(input, request, m_requestContent);
    if (reply != nullptr) {
        reply->setParent(this);
        m_callerData.insert(reply, {{prefix}}CallerInfo{context, slot});{{#addDownloadProgress}}
        connect(reply, &QNetworkReply::downloadProgress, this, &{{classname}}::{{nickname}}Progress);{{/addDownloadProgress}}
        connect(reply, &QNetworkReply::finished, this, [this, reply] {
            {{nickname}}Callback(QRestReply(reply));
        });
        connect(reply, &QNetworkReply::errorOccurred, this, [this, reply] {
            if (reply) {
                emit {{nickname}}ErrorOccurred(reply->error(), reply->errorString());
                {{prefix}}CallerInfo callerInfo = m_callerData.take(reply);
                if (callerInfo.slot) {
                    {{#returnType}}{{{.}}} empty;
                    {{/returnType}}QRestReply restRepl(reply);
                    void *argv[] = { nullptr, &restRepl{{#returnType}}, &empty{{/returnType}} };
                    QObject *context = callerInfo.contextObject ? const_cast<QObject*>(callerInfo.contextObject) : nullptr;
                    callerInfo.slot->call(context, argv);
                }
            }
        });
    }
}

void {{classname}}::{{nickname}}Callback(const QRestReply &reply)
{
    auto netReply = reply.networkReply();
    if (netReply)
        netReply->disconnect(this);
    if (!reply.isSuccess())
        return;

{{#returnType}}
{{^returnTypeIsPrimitive}}
{{#isResponseFile}}
    QMap<QString, {{prefix}}HttpFileElement> responseFiles;
{{/isResponseFile}}
{{/returnTypeIsPrimitive}}
    const QByteArray response = {{prefix}}HttpRequestWorker::parseResponse(reply, m_workingDirectory{{^returnTypeIsPrimitive}}{{#isResponseFile}}, &responseFiles{{/isResponseFile}}{{/returnTypeIsPrimitive}});
{{#isArray}}
    {{{returnType}}} output;
    const QJsonDocument doc = QJsonDocument::fromJson(response);
    const QJsonArray jsonArray = doc.array();
    for (const QJsonValue &obj : jsonArray) {
        {{{returnBaseType}}} val;
        ::{{cppNamespace}}::fromJsonValue(val, obj);
        {{#uniqueItems}}
        output.insert(val);
        {{/uniqueItems}}
        {{^uniqueItems}}
        output.append(val);
        {{/uniqueItems}}
    }
{{/isArray}}
{{^isArray}}
{{^isMap}}
{{#returnTypeIsPrimitive}}
    {{{returnType}}} output;
    ::{{cppNamespace}}::fromByteArray(response, output);
{{/returnTypeIsPrimitive}}
{{/isMap}}
{{#isMap}}
    {{{returnType}}} output;
    const QJsonDocument doc = QJsonDocument::fromJson(response);
    const QJsonObject obj = doc.object();
    for (const QString &key : obj.keys()) {
        {{returnBaseType}} val;
        ::{{cppNamespace}}::fromJsonValue(val, obj[key]);
        output.insert(key, val);
    }
{{/isMap}}
{{^isMap}}
{{^returnTypeIsPrimitive}}
    {{{returnType}}} output{{^isResponseFile}}(response){{/isResponseFile}}{{#isResponseFile}} = {{prefix}}HttpRequestWorker::getHttpFileElement(responseFiles){{/isResponseFile}};
{{/returnTypeIsPrimitive}}
{{/isMap}}
{{/isArray}}
{{/returnType}}
    // Check if callback is provided
    {{prefix}}CallerInfo callerInfo = m_callerData.take(netReply);
    if (callerInfo.slot) {
        void *argv[] = { nullptr, const_cast<QRestReply*>(&reply){{#returnType}}, &output{{/returnType}} };
        QObject *context = callerInfo.contextObject
                        ? const_cast<QObject*>(callerInfo.contextObject) : nullptr;
        callerInfo.slot->call(context, argv);
    }
    emit {{nickname}}Finished({{#returnType}}output{{/returnType}});
}

{{/operation}}
{{/operations}}
{{#cppNamespaceDeclarations}}
} // namespace {{this}}
{{/cppNamespaceDeclarations}}
