{{>licenseInfo}}
#include "{{prefix}}HttpFileElement.h"

#include <QtCore/qdebug.h>
#include <QtCore/qfile.h>
#include <QtCore/qjsondocument.h>
#include <QtCore/qjsonobject.h>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

void {{prefix}}HttpFileElement::setMimeType(const QString &mime)
{
    m_mimeType = mime;
}

void {{prefix}}HttpFileElement::setFileName(const QString &name)
{
    m_localFilename = name;
}

void {{prefix}}HttpFileElement::setVariableName(const QString &name)
{
    m_variableName = name;
}

void {{prefix}}HttpFileElement::setRequestFileName(const QString &name)
{
    m_requestFilename = name;
}

bool {{prefix}}HttpFileElement::isSet() const {
    return !m_localFilename.isEmpty() || !m_requestFilename.isEmpty();
}

QString {{prefix}}HttpFileElement::asJson() const
{
    QFile file(m_localFilename);
    QByteArray bArray;
    bool result = false;
    if (file.exists()) {
        result = file.open(QIODevice::ReadOnly);
        bArray = file.readAll();
        file.close();
    }
    if (!result) {
        qDebug() << "Error opening file " << m_localFilename;
    }
    return QString(bArray);
}

QJsonValue {{prefix}}HttpFileElement::asJsonValue() const
{
    QFile file(m_localFilename);
    QByteArray bArray;
    bool result = false;
    if (file.exists()) {
        result = file.open(QIODevice::ReadOnly);
        bArray = file.readAll();
        file.close();
    }
    if (!result) {
        qDebug() << "Error opening file " << m_localFilename;
    }
    return QJsonDocument::fromJson(bArray.data()).object();
}

bool {{prefix}}HttpFileElement::fromStringValue(const QString &instr)
{
    QFile file(m_localFilename);
    bool result = false;
    if (file.exists()) {
        file.remove();
    }
    result = file.open(QIODevice::WriteOnly);
    file.write(instr.toUtf8());
    file.close();
    if (!result) {
        qDebug() << "Error creating file " << m_localFilename;
    }
    return result;
}

bool {{prefix}}HttpFileElement::fromJsonValue(const QJsonValue &jval)
{
    QFile file(m_localFilename);
    bool result = false;
    if (file.exists()) {
        file.remove();
    }
    result = file.open(QIODevice::WriteOnly);
    file.write(QJsonDocument(jval.toObject()).toJson());
    file.close();
    if (!result) {
        qDebug() << "Error creating file " << m_localFilename;
    }
    return result;
}

QByteArray {{prefix}}HttpFileElement::asByteArray() const
{
    QFile file(m_localFilename);
    QByteArray bArray;
    bool result = false;
    if (file.exists()) {
        result = file.open(QIODevice::ReadOnly);
        bArray = file.readAll();
        file.close();
    }
    if (!result) {
        qDebug() << "Error opening file " << m_localFilename;
    }
    return bArray;
}

bool {{prefix}}HttpFileElement::fromByteArray(const QByteArray &bytes)
{
    QFile file(m_localFilename);
    bool result = false;
    if (file.exists()) {
        file.remove();
    }
    result = file.open(QIODevice::WriteOnly);
    file.write(bytes);
    file.close();
    if (!result) {
        qDebug() << "Error creating file " << m_localFilename;
    }
    return result;
}

bool {{prefix}}HttpFileElement::saveToFile(const QString &varName, const QString &localFName, const QString &reqFname, const QString &mime, const QByteArray &bytes)
{
    setMimeType(mime);
    setFileName(localFName);
    setVariableName(varName);
    setRequestFileName(reqFname);
    return fromByteArray(bytes);
}

QByteArray {{prefix}}HttpFileElement::loadFromFile(const QString &varName, const QString &localFName, const QString &reqFname, const QString &mime)
{
    setMimeType(mime);
    setFileName(localFName);
    setVariableName(varName);
    setRequestFileName(reqFname);
    return asByteArray();
}

{{#cppNamespaceDeclarations}}
} // namespace {{this}}
{{/cppNamespaceDeclarations}}
