<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Prevent startup messages from Logback -->
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>[%thread] %highlight(%-5level) %logger - %msg%n</Pattern>
      </layout>
    </encoder>
  </appender>
  <logger name="io.swagger" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
  </logger>
  <!-- Set log level dynamically using system property -->
  <!-- Default log level to INFO if no level is passed -->
  <logger name="org.openapitools" level="${log.level:-info}" additivity="false">
        <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.qtproject.qt.codegen" level="${log.level:-info}" additivity="false">
        <appender-ref ref="STDOUT" />
  </logger>
  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
