{{>licenseInfo}}
#include "{{prefix}}BaseApi.h"
#include "{{prefix}}HttpRequest.h"

#include <QtCore/QDir>
#include <QtCore/qjsonarray.h>
#include <QtCore/qjsondocument.h>
#include <QtNetwork/qhttpmultipart.h>
#include <QtNetwork/qnetworkaccessmanager.h>
#include <QtNetwork/qnetworkrequestfactory.h>
#include <QtNetwork/qrestaccessmanager.h>

QT_BEGIN_NAMESPACE
using namespace Qt::StringLiterals;
QT_END_NAMESPACE

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

{{prefix}}BaseApi::{{prefix}}BaseApi(QObject *parent)
    : QObject(parent),
      m_workingDirectory(QDir::currentPath()),
      m_manager(nullptr),
      m_restManager(nullptr),
      m_networkFactory(nullptr),
      m_isResponseCompressionEnabled(false),
      m_isRequestCompressionEnabled(false)
{
    if (!m_manager) {
        m_manager = std::make_shared<QNetworkAccessManager>();
    }
    if (!m_restManager) {
        m_restManager = std::make_shared<QRestAccessManager>(m_manager.get(), this);
    }
    if (!m_networkFactory) {
        m_networkFactory = std::make_shared<QNetworkRequestFactory>();
    }
}

{{prefix}}BaseApi::~{{prefix}}BaseApi()
{
}

QList<QString> {{prefix}}BaseApi::operations() const
{
    return m_serverConfigs.keys();
}

QList<{{prefix}}ServerConfiguration> {{prefix}}BaseApi::serverConfigurations(const QString &operation) const
{
    const auto it = m_serverConfigs.find(operation);
    if (it != m_serverConfigs.cend())
        return it.value();
    return {};
}

{{prefix}}BaseApi::ServerError
{{prefix}}BaseApi::setServerVariable(const QString &operation, qsizetype serverIndex,
                                     const QString &variable, const QString &value)
{
    auto it = m_serverConfigs.find(operation);

    if (it == m_serverConfigs.end())
        return ServerError::OperationNotFound;

    auto &configs = it.value();
    if (serverIndex < 0 || serverIndex >= configs.size())
        return ServerError::ServerIndexNotFound;

    return configs[serverIndex].setDefaultValue(variable, value);
}

{{prefix}}BaseApi::ServerError
{{prefix}}BaseApi::setServer(const QString &operation, qsizetype serverIndex)
{
    const auto it = m_serverConfigs.constFind(operation);

    if (it == m_serverConfigs.cend())
        return ServerError::OperationNotFound;

    if (serverIndex < 0 || serverIndex >= it.value().size())
        return ServerError::ServerIndexNotFound;

    m_serverIndices[operation] = serverIndex;
    return ServerError::NoError;
}

std::optional<qsizetype> {{prefix}}BaseApi::activeServer(const QString &operation) const
{
    const auto it = m_serverIndices.find(operation);
    if (it == m_serverIndices.cend())
        return std::nullopt;
    return it.value();
}

void {{prefix}}BaseApi::setApiKey(const QString &apiKeyName, const QString &apiKey)
{
    m_apiKeys.insert(apiKeyName, apiKey);
}

void {{prefix}}BaseApi::setBearerToken(const QString &token)
{
    m_bearerToken = token;
}

void {{prefix}}BaseApi::setUsername(const QString &username)
{
    m_username = username;
}

void {{prefix}}BaseApi::setPassword(const QString &password)
{
    m_password = password;
}

void {{prefix}}BaseApi::setTimeOut(std::chrono::milliseconds timeOut)
{
    m_networkFactory->setTransferTimeout(timeOut);
}

#if QT_CONFIG(ssl)
void {{prefix}}BaseApi::setSslConfiguration(QSslConfiguration config)
{
    m_networkFactory->setSslConfiguration(config);
}
#endif // ssl

void {{prefix}}BaseApi::setWorkingDirectory(const QString &path)
{
    m_workingDirectory = path;
}

void {{prefix}}BaseApi::setNetworkAccessResources(std::shared_ptr<QNetworkAccessManager> manager, std::shared_ptr<QRestAccessManager> ram)
{
    if (manager == m_manager)
        return;
    if (!manager || !ram || (manager.get() != ram->networkAccessManager()))
        qCritical() << "Network resources are not valid.";
    m_manager.reset();
    m_restManager.reset();
    m_manager = manager;
    m_restManager = ram;
}

void {{prefix}}BaseApi::setNetworkRequestFactory(std::shared_ptr<QNetworkRequestFactory> factory)
{
    if (m_networkFactory == factory)
        return;
    if (!factory)
        qCritical() << "New network factory cannot be null.";
    m_networkFactory.reset();
    m_networkFactory = factory;
}

void {{prefix}}BaseApi::setHeader(QHttpHeaders::WellKnownHeader key, QAnyStringView value)
{
    if (m_networkFactory->commonHeaders().values(key).contains(value))
        return;
    QHttpHeaders headers = m_networkFactory->commonHeaders();
    headers.replaceOrAppend(key, value);
    m_networkFactory->setCommonHeaders(std::move(headers));
}

void {{prefix}}BaseApi::setHeader(QAnyStringView key, QAnyStringView value)
{
    if (m_networkFactory->commonHeaders().values(key).contains(value))
        return;
    QHttpHeaders headers = m_networkFactory->commonHeaders();
    headers.replaceOrAppend(key, value);
    m_networkFactory->setCommonHeaders(std::move(headers));
}

void {{prefix}}BaseApi::enableRequestCompression()
{
    m_isRequestCompressionEnabled = true;
}

void {{prefix}}BaseApi::enableResponseCompression()
{
    m_isResponseCompressionEnabled = true;
}

QString {{prefix}}BaseApi::errorString(ServerError error) const
{
    switch (error) {
    case ServerError::NoError:
        return "No Error"_L1;
    case ServerError::ServerVariableNotFound:
        return "Server Variable Not Found"_L1;
    case ServerError::EnumValueNotFound:
        return "Enum Value Not Found"_L1;
    case ServerError::OperationNotFound:
        return "Operation Not Found"_L1;
    case ServerError::ServerIndexNotFound:
        return "Server Index Not Found"_L1;
    }
    Q_UNREACHABLE_RETURN(QString());
}

QNetworkReply *{{prefix}}BaseApi::execute({{prefix}}HttpRequestInput &input, QNetworkRequest &request, QByteArray &requestContent)
{
    bool isMultiPartMode = (input.m_multiPart.get() && input.m_varLayout == {{prefix}}HttpRequestVarLayout::MULTIPART);
    QNetworkReply *reply = nullptr;
    if (input.m_httpMethod == "GET"_L1) {
        reply = m_restManager->get(request);
    } else if (input.m_httpMethod == "POST"_L1) {
        if (isMultiPartMode)
            reply = m_restManager->post(request, input.m_multiPart.release());
        else
            reply = m_restManager->post(request, requestContent);
    } else if (input.m_httpMethod == "PUT"_L1) {
        if (isMultiPartMode)
            reply = m_restManager->put(request, input.m_multiPart.release());
        else
            reply = m_restManager->put(request, requestContent);
    } else if (input.m_httpMethod == "HEAD"_L1) {
        reply = m_restManager->head(request);
    } else if (input.m_httpMethod == "DELETE"_L1) {
        reply = m_restManager->deleteResource(request);
    } else {
        if (isMultiPartMode)
            reply = m_restManager->sendCustomRequest(request, input.m_httpMethod.toLatin1(), input.m_multiPart.release());
        else
            reply = m_restManager->sendCustomRequest(request, input.m_httpMethod.toLatin1(), requestContent);
    }
    return reply;
}

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

