{{>licenseInfo}}
#ifndef {{prefix}}_COMMON_GLOBAL_H
#define {{prefix}}_COMMON_GLOBAL_H

#define OPENAPI_GENERATOR_VERSION_STR       "{{generatorVersion}}"
#define OPENAPI_GENERATOR_VERSION_MAJOR     {{generatorVersionMajor}}
#define OPENAPI_GENERATOR_VERSION_MINOR     {{generatorVersionMinor}}
#define OPENAPI_GENERATOR_VERSION_PATCH     {{generatorVersionPatch}}

#endif // {{prefix}}_COMMON_GLOBAL_H
