{{>licenseInfo}}
#include "{{prefix}}HttpFileElement.h"

#include <QtCore/qdebug.h>
#include <QtCore/qfile.h>
#include <QtCore/qjsondocument.h>
#include <QtCore/qjsonobject.h>

{{#cppNamespaceDeclarations}}
namespace {{this}} {
{{/cppNamespaceDeclarations}}

void {{prefix}}HttpFileElement::setMimeType(const QString &mime)
{
    m_mimeType = mime;
}

void {{prefix}}HttpFileElement::setFileName(const QString &name)
{
    m_localFilename = name;
}

void {{prefix}}HttpFileElement::setVariableName(const QString &name)
{
    m_variableName = name;
}

void {{prefix}}HttpFileElement::setRequestFileName(const QString &name)
{
    m_requestFilename = name;
}

bool {{prefix}}HttpFileElement::isSet() const {
    return !m_localFilename.isEmpty() || !m_requestFilename.isEmpty();
}

QString {{prefix}}HttpFileElement::asJson() const
{
    const QByteArray data = asByteArray();
    return QString::fromUtf8(data);
}

QJsonValue {{prefix}}HttpFileElement::asJsonValue() const
{
    const QByteArray data = asByteArray();
    const QJsonObject object = QJsonDocument::fromJson(data).object();
    return QJsonValue(object);
}

bool {{prefix}}HttpFileElement::fromStringValue(const QString &instr)
{
    return fromByteArray(instr.toUtf8());
}

bool {{prefix}}HttpFileElement::fromJsonValue(const QJsonValue &jval)
{
    const QByteArray content = QJsonDocument(jval.toObject()).toJson(QJsonDocument::Compact);
    return fromByteArray(content);
}

QByteArray {{prefix}}HttpFileElement::asByteArray() const
{
    QFile file(m_localFilename);
    QByteArray bArray;
    if (file.exists() && file.open(QIODevice::ReadOnly)) {
        bArray = file.readAll();
        file.close();
    } else {
        qDebug() << "Failed to open the file" << m_localFilename;
    }
    return bArray;
}

bool {{prefix}}HttpFileElement::fromByteArray(const QByteArray &bytes)
{
    QFile file(m_localFilename);
    bool result = file.open(QIODevice::WriteOnly | QIODevice::Truncate);
    if (result) {
        const qint64 written = file.write(bytes);
        file.close();
        result = (written == bytes.size());
        if (!result)
            qDebug() << "Failed to write data to the file" << m_localFilename;
    } else {
        qDebug() << "Failed to create the file" << m_localFilename;
    }
    return result;
}

bool {{prefix}}HttpFileElement::saveToFile(const QString &varName, const QString &localFName, const QString &reqFname, const QString &mime, const QByteArray &bytes)
{
    setMimeType(mime);
    setFileName(localFName);
    setVariableName(varName);
    setRequestFileName(reqFname);
    return fromByteArray(bytes);
}

QByteArray {{prefix}}HttpFileElement::loadFromFile(const QString &varName, const QString &localFName, const QString &reqFname, const QString &mime)
{
    setMimeType(mime);
    setFileName(localFName);
    setVariableName(varName);
    setRequestFileName(reqFname);
    return asByteArray();
}

{{#cppNamespaceDeclarations}}
} // namespace {{this}}
{{/cppNamespaceDeclarations}}
