{{>licenseInfo}}
/**
 * Based on http://www.creativepulse.gr/en/blog/2014/restful-api-requests-using-qt-cpp-for-linux-mac-osx-ms-windows
 * By Alex Stylianos
 *
 **/

#ifndef {{prefix}}_HTTPREQUESTWORKER_H
#define {{prefix}}_HTTPREQUESTWORKER_H

#include "{{prefix}}CommonExports.h"
#include "{{prefix}}HttpFileElement.h"

#include <QtCore/qmap.h>
#include <QtCore/qstring.h>
#include <QtCore/QUrlQuery>

#include <QtNetwork/qhttpheaders.h>
#include <QtNetwork/qrestreply.h>

#include <memory>

QT_BEGIN_NAMESPACE
class QNetworkRequestFactory;
class QRestAccessManager;
class QHttpMultiPart;
QT_END_NAMESPACE

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

enum {{prefix}}HttpRequestVarLayout {
    NOT_SET,
    ADDRESS,
    URL_ENCODED,
    MULTIPART
};

class {{prefix}}_COMMON_EXPORT {{prefix}}HttpRequestInput {
public:
    QString m_urlStr;
    QString m_httpMethod;
    {{prefix}}HttpRequestVarLayout m_varLayout;
    QMap<QString, QString> m_vars;
    QMap<QString, QString> m_fieldHeaders;
    QHttpHeaders m_headers;
    QList<{{prefix}}HttpFileElement> m_files;
    QByteArray m_requestBody;
    QUrlQuery m_queryItem;
    std::unique_ptr<QHttpMultiPart> m_multiPart;
    bool m_isFormData;

    {{prefix}}HttpRequestInput();
    ~{{prefix}}HttpRequestInput();
    {{prefix}}HttpRequestInput(const QString &vUrlStr, const QString &vHttpMethod);
    {{prefix}}HttpRequestInput({{prefix}}HttpRequestInput &other);
    void initialize();
    void addVar(const QString &key, const QString &value);
    void addFieldHeaders(const QString &key, const QString &value);
    void addFile(const QString &variableName, const QString &localFilename, const QString &mimeType);
    void addVarLayout({{prefix}}HttpRequestVarLayout layout);
    void setHeaders(const QHttpHeaders &newHeaders);
    void setFormData(bool isForm);
};

namespace {{prefix}}HttpRequestWorker {
    {{prefix}}_COMMON_EXPORT {{prefix}}HttpFileElement getHttpFileElement(const QMap<QString, {{prefix}}HttpFileElement> &files, const QString &fieldname = QStringLiteral(""));
    {{prefix}}_COMMON_EXPORT QByteArray *getMultiPartField(const QMap<QString, QByteArray *> &multiPartFields, const QString &fieldname = QStringLiteral(""));
    {{prefix}}_COMMON_EXPORT QNetworkRequest getNetworkRequest({{prefix}}HttpRequestInput &input, QByteArray &requestContent, std::shared_ptr<QNetworkRequestFactory> factory, bool responseCompressionEnabled, bool requestCompressionEnabled);
    {{prefix}}_COMMON_EXPORT QByteArray parseResponse(const QRestReply &reply, const QString &workDir, QMap<QString, {{prefix}}HttpFileElement> *files = nullptr);

    enum {{prefix}}CompressionType{
        Deflate,
        Gzip,
        None,
    };
    {{prefix}}_COMMON_EXPORT QByteArray decompress(const QByteArray &data, {{prefix}}CompressionType compressionType);
    {{prefix}}_COMMON_EXPORT QByteArray compress(const QByteArray &input, int level, {{prefix}}CompressionType compressionType);
} // namespace {{prefix}}HttpRequestWorker

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

#endif // {{prefix}}_HTTPREQUESTWORKER_H
