{{>licenseInfo}}

#ifndef {{prefix}}_HTTPREQUESTWORKER_H
#define {{prefix}}_HTTPREQUESTWORKER_H

#include "{{packageNameLowerCase}}commonexports.h"
#include "{{prefixLowerCase}}httpfileelement.h"

#include <QtCore/qmap.h>
#include <QtCore/qstring.h>
#include <QtCore/QUrlQuery>

#include <QtNetwork/qhttpheaders.h>
#include <QtNetwork/qrestreply.h>

#include <memory>

QT_BEGIN_NAMESPACE
class QNetworkRequestFactory;
class QRestAccessManager;
class QHttpMultiPart;
QT_END_NAMESPACE

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

class {{packageNameUpperCase}}_COMMON_EXPORT {{prefix}}HttpRequestInput {
public:
    enum class VariableLayout {
        NotSet,
        Address,
        UrlEncoded,
        Multipart,
    };

    QString m_urlStr;
    QString m_httpMethod;
    VariableLayout m_varLayout;
    QMap<QString, QString> m_vars;
    QMap<QString, QString> m_fieldHeaders;
    QHttpHeaders m_headers;
    QList<{{prefix}}HttpFileElement> m_files;
    QByteArray m_requestBody;
    QUrlQuery m_queryItem;
    std::unique_ptr<QHttpMultiPart> m_multiPart;
    bool m_isFormData;

    {{prefix}}HttpRequestInput();
    ~{{prefix}}HttpRequestInput();
    {{prefix}}HttpRequestInput(const QString &vUrlStr, const QString &vHttpMethod);
    {{prefix}}HttpRequestInput({{prefix}}HttpRequestInput &other);
    void initialize();
    void addVariable(const QString &key, const QString &value);
    void addFieldHeaders(const QString &key, const QString &value);
    void addFile(const QString &variableName, const QString &localFilename, const QString &mimeType);
    void setVariableLayout(VariableLayout layout);
    void setHeaders(const QHttpHeaders &newHeaders);
    void setFormData(bool isForm);
};

namespace {{prefix}}HttpRequestWorker {
    {{packageNameUpperCase}}_COMMON_EXPORT {{prefix}}HttpFileElement getHttpFileElement(const QMap<QString, {{prefix}}HttpFileElement> &files, const QString &fieldname = QStringLiteral(""));
    {{packageNameUpperCase}}_COMMON_EXPORT QNetworkRequest getNetworkRequest({{prefix}}HttpRequestInput &input, QByteArray &requestContent, std::shared_ptr<QNetworkRequestFactory> factory, bool responseCompressionEnabled, bool requestCompressionEnabled);
    {{packageNameUpperCase}}_COMMON_EXPORT QByteArray parseResponse(const QRestReply &reply, const QString &workDir, QMap<QString, {{prefix}}HttpFileElement> *files = nullptr);

    enum class CompressionType {
        Deflate,
        Gzip,
        None,
    };
    {{packageNameUpperCase}}_COMMON_EXPORT QByteArray decompressData(const QByteArray &data, CompressionType compressionType);
    {{packageNameUpperCase}}_COMMON_EXPORT QByteArray compressData(const QByteArray &input, int level, CompressionType compressionType);
} // namespace {{prefix}}HttpRequestWorker

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

#endif // {{prefix}}_HTTPREQUESTWORKER_H
