{{>licenseInfo}}
#ifndef {{prefix}}_HTTP_FILE_ELEMENT_H
#define {{prefix}}_HTTP_FILE_ELEMENT_H

#include "{{packageNameLowerCase}}commonexports.h"

#include <QtCore/qcontainerfwd.h>
#include <QtCore/qmetatype.h>
#include <QtCore/qshareddata.h>

QT_BEGIN_NAMESPACE
class QJsonValue;
QT_END_NAMESPACE

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

class {{prefix}}HttpFileElementPrivate;

class {{packageNameUpperCase}}_COMMON_EXPORT {{prefix}}HttpFileElement
{
public:
    {{prefix}}HttpFileElement();
    explicit {{prefix}}HttpFileElement(const QString &localFilename);
    {{prefix}}HttpFileElement(const {{prefix}}HttpFileElement &other);
    {{prefix}}HttpFileElement({{prefix}}HttpFileElement &&other) noexcept;
    {{prefix}}HttpFileElement &operator=(const {{prefix}}HttpFileElement &other);
    {{prefix}}HttpFileElement &operator=({{prefix}}HttpFileElement &&other) noexcept;
    ~{{prefix}}HttpFileElement();

    void swap({{prefix}}HttpFileElement &other) noexcept;

    void setMimeType(const QString &mime);
    void setVariableName(const QString &name);
    void setTemporary(bool temp);

    QString mimeType() const;
    QString filename() const;
    QString variableName() const;
    bool isTemporary() const;

    QString requestFilename() const;
    bool isSet() const;
    bool fromStringValue(const QString &instr);
    bool fromJsonValue(const QJsonValue &jval);
    bool saveToLocalFile(const QByteArray &bytes);
    QString asJson() const;
    QJsonValue asJsonValue() const;
    QByteArray loadFromLocalFile() const;

private:
    QExplicitlySharedDataPointer<{{prefix}}HttpFileElementPrivate> d;
};

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

Q_DECLARE_METATYPE({{#cppCommonNamespaceDeclarations}}{{this}}::{{/cppCommonNamespaceDeclarations}}{{prefix}}HttpFileElement)

#endif // {{prefix}}_HTTP_FILE_ELEMENT_H
