{{>licenseInfo}}
#ifndef {{prefix}}_OBJECT_H
#define {{prefix}}_OBJECT_H

#include "{{prefix}}CommonExports.h"

#include <QtCore/qjsonobject.h>
#include <QtCore/qstring.h>

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

class {{prefix}}_COMMON_EXPORT {{prefix}}Object {
public:
    {{prefix}}Object() {}
    virtual ~{{prefix}}Object() {}

    virtual QJsonObject asJsonObject() const = 0;
    virtual QString asJson() const = 0;
    virtual void fromJson(const QString &jsonString) = 0;
    virtual void fromJsonObject(const QJsonObject &json) = 0;
    virtual bool isSet() const = 0;
    virtual bool isValid() const = 0;

private:
    friend bool operator==(const {{prefix}}Object &lhs, const {{prefix}}Object &rhs)
    { return lhs.asJsonObject() == rhs.asJsonObject(); }
    friend bool operator!=(const {{prefix}}Object &lhs, const {{prefix}}Object &rhs)
    { return !operator==(lhs, rhs); }

    friend size_t qHash(const {{prefix}}Object &obj, size_t seed)
    { return qHash(obj.asJsonObject(), seed); }
    friend size_t qHash(const {{prefix}}Object &obj)
    { return qHash(obj, 0); }
};

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

#endif // {{prefix}}_OBJECT_H
