{{>licenseInfo}}
/**
 * Representing a Server Variable for server URL template substitution.
 */
#ifndef {{prefix}}_SERVERVARIABLE_H
#define {{prefix}}_SERVERVARIABLE_H

#include <QtCore/qset.h>
#include <QtCore/qstring.h>

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

class {{prefix}}ServerVariable {
public:
    enum class ServerError
    {
        NoError = 0, // Success
        ServerVariableNotFound = -1,
        EnumValueNotFound = -2,   // The value is not defined in m_enumValues
        OperationNotFound = -3,
        ServerIndexNotFound = -4,
    };

    /**
     * @param description A description for the server variable.
     * @param defaultValue The default value to use for substitution.
     * @param enumValues An enumeration of string values to be used if the substitution options are from a limited set.
     */
    {{prefix}}ServerVariable(const QString &description, const QString &defaultValue, const QSet<QString> &enumValues)
    : m_value(defaultValue),
      m_description(description),
      m_enumValues(enumValues) {}

    {{prefix}}ServerVariable() {}
    ~{{prefix}}ServerVariable() {}

    ServerError setValue(const QString& value) {
        if (!m_enumValues.empty() && !m_enumValues.contains(value))
            return ServerError::EnumValueNotFound;

        m_value = value;
        return ServerError::NoError;
    }

    QString value() const { return m_value; }
    QSet<QString> enumValues() const { return m_enumValues; }
    QString description() const { return m_description; }

private:
    QString m_value;
    QString m_description;
    QSet<QString> m_enumValues;
};

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

#endif // {{prefix}}_SERVERVARIABLE_H
