{{>licenseInfo}}
/**
 * Representing a Server configuration.
 */
#ifndef {{prefix}}_SERVERVCONFIGURATION_H
#define {{prefix}}_SERVERVCONFIGURATION_H

#include "{{prefix}}ServerVariable.h"

#include <QtCore/qstring.h>
#include <QtCore/qmap.h>
#include <QtCore/qurl.h>

{{#cppCommonNamespaceDeclarations}}
namespace {{this}} {
{{/cppCommonNamespaceDeclarations}}

class {{prefix}}ServerConfiguration {
public:
    /**
     * @param urlTemplate A URL template to the target host.
     * @param description A description of the host designated by the URL.
     * @param variables A map between a variable name and its value. The value is used for substitution in the server's URL template.
     */
    {{prefix}}ServerConfiguration(const QString &urlTemplate, const QString &description, const QMap<QString, {{prefix}}ServerVariable> &variables)
    : m_description(description),
      m_variables(variables),
      m_urlTemplate(urlTemplate) {}
    {{prefix}}ServerConfiguration() {}
    ~{{prefix}}ServerConfiguration() {}

    /**
    * Original URL template
    *
    * @return Original URL template.
    */
    QString urlTemplate() const { return m_urlTemplate; }

    /**
     * Format URL template using server's variables.
     *
     * @return URL, where the server variables are substituted with actual values.
     */
    QUrl url() const {
        if (m_variables.empty())
            return QUrl(m_urlTemplate); // nothing to substitute

        QString url = m_urlTemplate;
        // go through variables and replace placeholders
        for (const auto &[name, serverVariable] : m_variables.asKeyValueRange()) {
            const QString value = serverVariable.m_defaultValue;
            if (!serverVariable.m_enumValues.empty() && !serverVariable.m_enumValues.contains(value)) {
                qWarning("The variable %s in the server URL has an invalid value %s.",
                          qPrintable(name), qPrintable(value));
            }
            const QString varTemplate = u'{' + name + u'}';
            url = url.replace(varTemplate, value);
        }
        return QUrl(url);
    }

    {{prefix}}ServerVariable::ServerError setDefaultValue(const QString &variable, const QString &value) {
      if (m_variables.contains(variable))
        return m_variables[variable].setDefaultValue(value);
      return {{prefix}}ServerVariable::ServerError::ServerVariableNotFound;
    }

    QString m_description;
    QMap<QString, {{prefix}}ServerVariable> m_variables;
    QString m_urlTemplate;
};

{{#cppCommonNamespaceDeclarations}}
} // namespace {{this}}
{{/cppCommonNamespaceDeclarations}}

#endif // {{prefix}}_SERVERVCONFIGURATION_H
